
.board{
  height:100%;  
  width:100%;   
  place-self:center; 
  aspect-ratio: 1/1; 
}

.row {
  width:100%;
  height:100%;
  display: contents;
  border-top:2px solid black;  
}


.row:first-child {
  border-top:none; 
}

.box {
  border:none;  
  background-color: transparent;
  width:100%;  
  height:100%;  
  display:flex; 
  justify-content: center; 
  align-items: center;  
  border-left: 2px solid black; 
}


.box:first-child{
  border-left: none;
}

/* .boardContainer{
  width:400px; 
  height:400px; 
  grid-area:content; 
  place-self: center;
} */

