

.board{
  height:100%; 
  width:100%;   
  place-self:center; 
}

.row {
  width:100%; 
  height:100%; 
}

.row:nth-child(even){
  border-bottom:2px solid black; 
  border-top:2px solid black; 
  width: calc(100%-2px); 
  height: calc(100%-2px); 
}

.row:last-child{
  border-bottom:none; 
}

.box {
  border:none;  
  background-color: transparent;
  width:100%; 
  height:100%; 
  display:flex; 
  justify-content: center; 
  align-items: center; 
}

.box:nth-child(even){
  border-right:2px solid black; 
  border-left:2px solid black; 
  width: calc(100%-2px); 
  height: calc(100%-2px);
}

.box:last-child{
  border-right: none;
}

.boardContainer{
  width:400px; 
  height:400px; 
  grid-area:content; 
  place-self: center;
}

