
.menu {
  display:flex; 
  flex-direction: column; 
  justify-content: start;
  align-items: center;
}

.menuBtn {
  width:200px;
  padding:10px 0px 10px 0px;  
  min-width:150px; 
  min-height:50px;  
  margin-top:20px;  
  height:fit-content; 
  background-color: #E1AA36;
  border-radius: 8px; 
  border:none;  
  color:#ECECBB; 
  font-weight:bold; 
  font-size:1.2rem; 
  cursor: pointer;
  text-align:center; 
}

.menuBtn:hover{
  scale:1.05; 
}

.startGameBtn {
  background-color:#239BA7;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


/* PlayerMenu */

.playerMenuContainer {
  position: relative;
  grid-area:content;
  place-self: start center; 
  margin-top:20px; 
  width:100%;  
  height:50%; 
  display:grid;
  grid-template-columns: 1fr 1fr; 
  align-items:center; 
  justify-content: center ;
}

.player_menu_container_phone {
  position: relative;
  grid-area:content;
  place-self: start center; 
  margin-top:20px; 
  width:100%;  
  height:50%; 
  display:flex;
}

.playerCard{  
  max-width:250px;
  width:calc(90%/3);
  max-height:80%;
  overflow: hidden;  
  aspect-ratio: 1/1.1;  
  grid-area: content;
  border-radius: 8px;
  text-align: center;
  position: absolute;  
  background-color: #E1AA36; 
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: column;
  color:#ECECBB; 
  place-self: center;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; 
}

.playerCardBtn{
  position: absolute;
  grid-area:content;
  z-index: 2;
  appearance: none;
  outline: none;
  cursor: pointer;
  width:calc(90%/3 ); 
  max-width:250px; 
  max-height:80%; 
  aspect-ratio: 0.9/1;
  background-color:transparent; 
  border:none;
  color:transparent; 
  -webkit-tap-highlight-color: transparent;
}

.playerCardBtn:active{
  background-color:transparent; 
  opacity:1; 
}

.player_type_btn_container{
  display:flex; 
  height: 100%;
  align-items: end;
  justify-content: center;
}

.player_type_btn { 
  width:150px;
  height:40px; 
  border:none; 
  cursor: pointer;
  border-radius: 5px;
  background-color:#E1AA36;
  opacity: 0.6; 
  color: #ECECBB;
  font-weight: bold; 
  margin-bottom:20px;   
}

.player_type_btn:first-child{
  margin-right:20px; 
}

.cardImg{
  width:100%; 
  height:60%; 
  border-radius: 8px;
  place-self: start;
}

.playerNameInput{
  outline: none;
  border:none; 
  border-bottom:1px solid #ECECBB; 
  background-color: #E1AA36;
  border-radius: 0px;
  width:80%; 
  color:#ECECBB; 
  font-weight: bold;
}

.playerNameInput::placeholder{
  color:#ECECBB;
  font-weight: bold;
}

.cardHeader { 
  color:#E1AA36; 
  font-weight: bolder;
  place-self: start center;
}

.cardContainer{
  perspective:1000px;
  place-self: center;
  display:grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 100%;
  grid-template-areas: 
    "header"
    "content"
  ; 
  place-items:center;  
  position:relative;  
  height: 100%;
  width: 100%; 
}



/* ModeMenu */

.modeMenuContainer{
  width:100%; 
  height:50%; 
  grid-area: content;
  place-self: start center;
  display: grid;
  place-items: center;
  grid-template-columns: 37% 25% 37%;
}

.mode_menu_container_phone{
  width:100%; 
  height:50%;
  grid-area:content; 
  place-self: start center;
  display:flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mode_btn_container{
  width:100%;
  height:20%;
  display:flex; 
  justify-content:center;
  align-items: center;
}

.mode_btn_phone{
  width:150px; 
  height:40px;
  border-radius: 4px;
  color:#ECECBB; 
  font-weight: bold;
  border:none; 
  text-align: center;
  background-color: #E1AA36;
  color:#ECECBB; 
}

.mode_btn_phone:first-child{
  margin-right:20px; 
}

.modeCard{
  width:100%;
  max-width:300px; 
  aspect-ratio: 0.9/1.1; 
  background-color: #E1AA36;
  border-radius: 8px;
  display:grid; 
  grid-template-rows: 20% 60% 20%;
  place-items:center; 
  text-align: center;
  transition: scale 250ms ease-in-out; 
}

.modeCard p{
  color:#ECECBB; 
}

.modeCard h2 {
  color:#ECECBB; 
  font-weight: bolder;
}

.modeBtn{
  width:100%; 
  height:100%; 
  background-color: #E1AA36;
  color:#ECECBB; 
  font-weight:bolder;
  border:none; 
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.mode_display_phone{
  width:100%; 
  height:60%; 
  display:flex; 
  justify-content: center;
  align-items: center;
}


.modeScreen{
  width:100%; 
  aspect-ratio: 1/1;
}

.mode_img_phone{
  height:100%;    
  aspect-ratio: 1/1;
  max-width: 90%;
  border-radius:8px; 
}

.modeImg{
  width:100%;
  height:100%;   
}

.text_container_phone{
  width:100%; 
  height:20%; 
  background-color: #E1AA36;
  color:#ECECBB; 
  text-align: center;
  display:flex; 
  justify-content: center;
  align-items: center;
}



/* boardMenu */

.boardMenu {
  grid-area:content; 
  place-self:start center;
  display:flex; 
  width: 100%;
  height:50%;  
  flex-direction: column;
  justify-content: center;  
  align-items: center;
}

.boardDisplay {
  height:60%; 
  aspect-ratio: 1/1;
  margin-top:20px; 
}

.boardBtnContainer{
  width: 300px;
  height:20%; 
  display:flex; 
  justify-content: space-between;
}

.boardSize{
  width:300px; 
  height:20%; 
}

.boardBtn{
  width:50px; 
  height: 50px;
  border-radius: 50%; 
  font-weight: bolder; 
  cursor: pointer;
  display:flex; 
  justify-content: center;
  align-items: center;
  border:none; 
  background-color: #E1AA36;
}

.boardBtn:hover{
  scale:1.05; 
}


