



.menu {
  display:flex; 
  flex-direction: column; 
  justify-content: start;
  align-items: center;
}

.menuBtn {
  width:200px;
  padding:10px 0px 10px 0px;   
  margin-top:20px;  
  height:fit-content; 
  background-color: #E1AA36;
  border-radius: 8px; 
  border:none;  
  color:#ECECBB; 
  font-weight:bold; 
  font-size:1.2rem; 
  cursor: pointer;
  text-align:center; 
}

.menuBtn:hover{
  scale:1.05; 
}

.startGameBtn {
  background-color:#239BA7;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


/* PlayerMenu */

.playerMenuContainer {
  position: relative;
  grid-area:content;
  place-self: start center; 
  margin-top:20px; 
  width:100%;  
  height:50%; 
  display:grid;
  grid-template-columns: 1fr 1fr; 
  align-items:center; 
  justify-content: center ;
}

.player_menu_container_phone {
  position: relative;
  grid-area:content;
  place-self: start center; 
  margin-top:20px; 
  width:100%;  
  height:50%; 
  display:flex;
}

.playerCard{  
  max-width:250px;
  width:calc(90%/3);
  max-height:80%;
  overflow: hidden;  
  aspect-ratio: 1/1.1;  
  grid-area: content;
  border-radius: 8px;
  text-align: center;
  position: absolute;  
  background-color: #E1AA36; 
  transition: all 1s ease;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: clamp(0.8rem, 2.5vw,1.2rem);
  color:#ECECBB; 
  place-self: center;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; 
}

.playerCardBtn{
  position: absolute;
  grid-area:content;
  z-index: 2;
  appearance: none;
  outline: none;
  cursor: pointer;
  width:calc(90%/3 ); 
  max-width:250px; 
  max-height:80%; 
  aspect-ratio: 0.9/1;
  background-color:transparent; 
  border:none;
}

.player_type_btn_container{
  display:flex; 
  height: 100%;
  align-items: end;
  justify-content: center;
}

.player_type_btn { 
  width:150px;
  height:30px; 
  border:none; 
  cursor: pointer;
  border-radius: 5px;
  background-color:#E1AA36;
  opacity: 0.3; 
  color: #ECECBB;
  font-size:1rem;
  font-weight: bold; 
  margin-bottom:20px;   
}

.player_type_btn:first-child{
  margin-right:20px; 
}


.playerCard h2{
  /* margin-bottom:10px;  */
  font-size:clamp(0.7rem, 2.5vw, 3rem); 
}

.cardImg{
  width:100%; 
  height:60%; 
  border-radius: 8px;
  place-self: start;
}

.playerNameInput{
  outline: none;
  border:none; 
  border-bottom:1px solid #ECECBB; 
  background-color: #E1AA36;
  border-radius: 0px;
  width:80%; 
  color:#ECECBB; 
  font-size:clamp(16px, 2.5vw,1.2rem);
  font-weight: bold;
}

.playerNameInput::placeholder{
  font-size:clamp(15px,1.5vw,1.2rem);
  color:#ECECBB;
  font-weight: bold;

}

.cardHeader {
  font-size:clamp(1rem,4vw,3em); 
  color:#E1AA36; 
  font-weight: bolder;
  place-self: start center;
}

.cardContainer{
  perspective:1000px;
  place-self: center;
  display:grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 100%;
  grid-template-areas: 
    "header"
    "content"
  ; 
  place-items:center;  
  position:relative;  
  height: 100%;
  width: 100%;
  /* height:100%; */ 
}



/* ModeMenu start */

  .modeMenuContainer{
    width:90%; 
    height:50%; 
    grid-area: content;
    place-self: start center;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .modeCard{
    width:200px; 
    height: 300px;  
    background-color: #E1AA36;
    border-radius: 8px;
    display:grid; 
    grid-template-rows: 20% 60% 20%;
    place-items:center; 
    text-align: center;
    padding:0px 10px 0px 10px;
    transition: scale 1s ease;
  }

  .modeCard p {
    color:#ECECBB;
    font-weight: bold; 
  }

  .modeCard h2{
    color:#ECECBB; 
    font-weight: bolder;
    font-size: 1.8rem;  
  }

  .modeBtn{
    width:calc(100% + 20px); 
    height:100%; 
    font-size:1.5rem; 
    background-color: #E1AA36;
    color:#ECECBB; 
    font-weight:bolder;
    border:none; 
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }



  .modeScreen{
    width:300px; 
    height:300px; 
  }

  .modeImg{
    max-width:300px;  
    max-height:300px;  
  }

/* ModeMenu End */

/* boardMenu start */
  .boardMenu{
    grid-area:content; 
    place-self:start center;
    display:flex; 
    width: 100%;
    height:fit-content; 
    flex-direction: column;
    justify-content: center;  
    align-items: center;
  }

  .boardDisplay {
    height: 300px;
    width:300px; 
    margin-top:20px; 
  }

  .boardBtnContainer{
    margin-top:20px; 
    width: 300px;
    display:flex; 
    justify-content: space-between;
  }

  .boardSize{
    width:300px; 
    font-size:1.2rem; 
  }

  .boardBtn{
    font-size:30px; 
    width:50px; 
    height: 50px;
    border-radius: 50%; 
    font-weight: bolder; 
    cursor: pointer;
    display:flex; 
    justify-content: center;
    align-items: center;
    border:none; 
    background-color: #E1AA36;
  }

  .boardBtn:hover{
    scale:1.05; 
  }

/* boardMenu End */
