/* 
  Colors

  1).green - #7ADAA5
  2).blue - #239BA7
  3).orange - #E1AA36
  4).light - #ECECBB

*/

button{
  font-size: clamp(0.95rem, 0.9rem + 0.35vw, 1.125rem);
  line-height: 1;
}

p{
  font-size: clamp(1rem, 0.95rem + 0.3vw, 1.125rem);
  line-height: 1.5;
}

h1{
  font-size: clamp(1.75rem, 1.4rem + 1.8vw, 2.25rem);
  line-height: 1.2;
}

h2{
  font-size: clamp(1.375rem, 1.15rem + 1.2vw, 1.75rem);
  line-height: 1.25;
}

h3{
  font-size: clamp(1.125rem, 1.05rem + 0.6vw, 1.375rem);
  line-height: 1.3;
}

input {
  font-size: clamp(1rem, 0.95rem + 0.35vw, 1.125rem);
  line-height: 1.4;
}

input::placeholder {
  font-size: clamp(0.85rem, 0.8rem + 0.2vw, 1.1rem);
  opacity: 0.7;
}



html, body {
  overflow:hidden; 
  height:100%; 
}

body{
  position: fixed;
  width:100%; 
}

.textContainer{
  width:fit-content; 
  height: fit-content;
  margin-top:5px; 
}

.npc-container{
  grid-area:footer; 
  background-color: #E1AA36;
  width:100%; 
  height:100%; 
  display:flex; 
  flex-direction: column; 
  justify-content: start;
  align-items: center;
}

.display{
  height: 100px;
  width:100%; 
}

.piece{ 
  height: 80%; 
  width:80%;  
}

.winning-piece {
  height: 80%; 
  width:80%;
  animation: winAnimation 500ms ease-in-out infinite alternate ; 
}

.npcAvatar {
  height:50%; 
  aspect-ratio: 1/1; 
  border-radius: 50%;
}


.npc-text-box{
  height:fit-content;  
  display:flex; 
  align-items: center;
  color:#ECECBB; 
  
  text-align: center;
  overflow: hidden; 
  white-space: nowrap; 
  margin: 0 auto;  
  animation: typing 1.5s steps(28, end); 
}

/* .npc-text-box p   {
  font-size: clamp(0.9rem, 0.85rem + 0.4vw, 1.05rem);
} */






.prevMove {
  height:80%; 
  width:80%; 
  animation-name:show-prev-move;
  animation-timing-function: ease-in-out;
  animation-duration: 500ms;
}


.main {
  position:relative; 
  width:100%; 
  height:100dvh;
  overflow:hidden; 
  /* grid-template-columns: 100%; 
  grid-template-rows:20% 80% ;
  grid-template-areas: 
  "header"
  "content"
  "footer"
  ;
  display: grid; */
  
}

/* Message box styling */

  .messageBox{ 
    position:absolute;
    min-height: 150px;
    place-self: center;
    border-radius: 8px;
    background-color:rgb(35, 155, 167,0.8); 
    color:#ECECBB; 
    font-weight: bold;
    /* font-size:1.2rem; */
    padding: 10px 10px 10px 10px; 
  }

  .messageBox span {
    cursor:pointer;  
    font-weight: bolder;
  }


  .messageBox p {
    text-align: center;
  }

/* End */

.vs-container {
  height: 50%;
  aspect-ratio: 1/1;
  background-color: #E1AA36;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size:xx-large; */
  color: #ECECBB;
  margin:0px 20px 0px 20px; 
  container-type:inline-size; 
}

.vs-container h3 {
  font-size: clamp(1rem, 45cqi, 8rem);
  font-weight: bolder;
  line-height: 1;
}

.player-card-piece{
  height:40%;
  aspect-ratio: 1/1;
  margin-right: 0px;
}

.player-vs-card {
  position: relative;
  height:50%; 
  /* font-size:xx-large; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.player-header {
  width:100%; 
  height: 100%;
  place-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.header {
  /* font-size: clamp(1.2rem, 3vw, 2em);  */
  grid-area:header; 
  place-self: center;
  color:#E1AA36; 
}

.menuBtnContainer{
  grid-area:content; 
  place-self:end center; 
  display:flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom:40px; 
}

/* Game style */

  .gameContainer{
    grid-area:content;  
    /* width:600px; 
    height: 600px; */   
    place-self:center; 

  }




#exitBtn {
  grid-area:header; 
  width:40px; 
  height:40px;
  margin:10px 0px 0px 10px;  
  color:#E1AA36; 
  cursor: pointer;
  /* font-weight: bolder; */
  border:none; 
  background-color: transparent;
}

#exitBtn:hover{
  scale:1.10; 
}



/* PlayAgain box styling */
.playAgainContainer {
  position: absolute;
  grid-area:content; 
  place-self:start center; 
  margin-top:20px;
  border-radius:8px;  
  width:300px; 
  height:150px; 
  background-color: rgb(35, 155, 167,0.9);
  grid-template-columns:100%;
  grid-template-rows: 20% 80%;
  grid-template-areas: 
  "header"
  "button"; 
  display:grid; 
  font-size:1.5rem;
  text-align:center; 
  color:#E1AA36;  
  font-weight:bolder;
  padding-top:20px; 
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  z-index:3; 
}

.playAgainBtnContainer{
  display:flex; 
  place-self: end center;
  margin-bottom:20px; 
}

.playAgainBtn{
  width:100px; 
  font-size:1rem;
  border-radius:8px;
  padding:5px 0px 5px 0px;  
  border:none; 
  background-color:#E1AA36; 
  color:#ECECBB;  
  font-weight: bolder;
  cursor: pointer;
}

.playAgainBtn:first-child{
  margin-right:20px; 
}

.playAgainBtn:hover{
  scale:1.05; 
}


@keyframes winAnimation {
  from {
    scale:0.9;
  } to {
    scale:1;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

@keyframes show-prev-move {
  0% {
    scale:0.2;
  }
  50% {
    scale:1.1; 
  }

  75%{
    scale:0.9; 
  } 

  100%{
    scale:1; 
  }
}





